.textColor {
  color: #264c8c;
}

.bgColor {
  background-color: #264c8c;
  color: white;
}

.borderColor {
  border-color: #264c8c;
}

.categories {
  border: 2px solid;
  color: #264c8c;
  width: 400;
  height: 400;
}
.categories:on-hover {
  background-color: #264c8c;
}

.mobile-only {
  @media (min-width: 768px) {
    display: none;
  }
}
.filterCategories {
  /* text-align: center; */
  border: 1px solid#264c8c;
  border-radius: 50px;
  color: #264c8c;
  font-size: 1em;
  background-color: white;
}

.filterCategories:checked + label {
  background-color: violet;
}
.filterCategories input[type="checkbox"] {
  display: none;

  /* position: absolute; */
  /* left: -9999px; */
  /* width: 0px; */
}

.filterCategories label {
  box-shadow: none;
  text-align: center;

  position: relative;
  cursor: pointer;
  right: 10px;
  /* display: block;
  position: relative; */

  /* padding: 2px 2px 2px 2px; */
}

.filterCategories label:checked {
  background-color: #ccc;
}
