.textColor {
  color: #264c8c;
}

.bgColor {
  background-color: #264c8c;
  color: white;
}

.borderColor {
  border-color: #264c8c;
}

.categories {
  border: 2px solid;
  color: #264c8c;
  width: 400;
  height: 400;
}
.categories:on-hover {
  background-color: #264c8c;
}

.mobile-only {
  @media (min-width: 768px) {
    display: none;
  }
}
.filterCategories {
  /* text-align: center; */
  border: 1px solid#264c8c;
  border-radius: 50px;
  color: #264c8c;
  font-size: 14px;
  background-color: white;
}

.filterCategories input[type="checkbox"] {
  display: none;
}

.filterCategories label {
  box-shadow: none;
  text-align: center;

  position: relative;
  cursor: pointer;
  right: 10px;
  /* display: block;
  position: relative; */

  /* padding: 2px 2px 2px 2px; */
}

.filterCategories label:checked {
  background-color: #ccc;
}

/*Sort Categories*/
.sortCategories {
  /* text-align: center; */
  border: 1px solid#264c8c;
  border-radius: 50px;
  color: #264c8c;
  font-size: 10px;
  width: 45%;
  background-color: white;
}

.sortCategories input[type="checkbox"] {
  display: none;
}

.sortCategories label {
  box-shadow: none;
  text-align: middle;
  padding-top: 2px;
  padding-bottom: 2px;
  position: relative;
  cursor: pointer;
  right: 8px;
  /* display: block;
  position: relative; */

  /* padding: 2px 2px 2px 2px; */
}

.sortCategories label:checked {
  background-color: #ccc;
}
